###############################
# Un-ignore the affected subdirectory
!7_RESULTS/

# Ignore subdirectory and all including directories and files to match pattern as valid for the next pattern
/7_RESULTS/**
# This pattern only works with the two previous patterns
# (i remember it was working alone on older git versions)
!/Post_Processing_Matlab_Files/*
!/Post_Processing_Matlab_Files
!/Figures
!/Results_for_separate_Variables
###############################

!3_COMPILED_FILES/
# 3_COMPILED_FILES/INCS_Agis_*
1_LIBS_INCL_BINS/
